/* layout */
.layout {
    width: 90vw;
    max-width: 1440px;
}


/* section */
.section {
    width: 100%;
}
.section-header {
    padding: 10px 0;
}
.section-child {
    margin-top: 16px;
    margin-bottom: 32px;
}